services:
  makangoapi:
    build:
      context: review-service
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    restart: unless-stopped