name: 'ECR and ECS'

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  ecr-and-ecs:
    name: 'ECR and ECS'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::921142537307:role/review-service-github-actions-role
        aws-region: ap-southeast-1

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image
      id: build-image
      run: |
        IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/makango-review-service:${{ github.sha }}
        docker build -t $IMAGE_URI ./review-service
        docker push $IMAGE_URI
        echo "image=$IMAGE_URI" >> $GITHUB_OUTPUT

    - name: Terraform
      run: |
        terraform -chdir=terraform init
        terraform -chdir=pterraform plan -input=false -out=tfplan
        terraform -chdir=terraform apply -input=false -var="image_uri=${{ steps.build-image.outputs.image }}" tfplan 
